html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
	background: #666;
}

a{
	text-decoration: none;
}

.b-wrapper{
	max-width: 640px;
	margin: 0 auto;
}

.b-header{
	height: 89px;
	background: url('../img/pattern.jpg') center center repeat-x;
}

.b-video{
	position: relative;
	height: 480px;
}

#b-video__play-btn{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -5%;
	margin-left: -100px;
	width: 200px;
	padding: 1% 0;
	text-align: center;
	font-size: 30px;
	line-height: 60px;
	color: #fff;
	background: red;
	border-radius: 10px;
	cursor: pointer;
}

#b-video__play-btn > i{
	color: #fff;
	font-size: 30px;
}

#b-video__pause-btn{
	display: block;
	position: absolute;
	top: 73%;
	left: 50%;
	margin-left: -50px;
	width: 100px;
	height: 30px;
	font-size: 18px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	border: 1px solid rgba(221, 221, 221, 0.65);
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.32);
	cursor: pointer;
}

.b-video__views-amount{
	position: absolute;
	width: 100%;
	top: 63%;
	text-align: center;
	font-size: 18px;
	color: #fff;
}

.b-descriptrion{
	padding:10px 0;
}

.b-descriptrion p{
	padding: 0 10px;
	font: 16px/22px Arial;
}

.check-rights a{
color: #fff;text-decoration: underline;}

#checkbox{
	display: inline-block;
	width: 28px;
	height: 28px;
	border: 1px solid #000;
	background: #fff;
	cursor: pointer;
}

#check{
	display:block;
	font-size: 28px;
	line-height: 28px;
	color: #f00;
}

/* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
		
    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
		.b-video{
			height: 360px;
		}

		.b-descriptrion p {
		    padding: 0px 5px;
		    font: 14px/18px Arial;
		}
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 481px) {
		.b-header{
			display: none;
		}

    	.b-descriptrion p {
		    padding: 0px 5px;
		    font: 12px/18px Arial;
		}
		.b-video{
			height: 320px;
		}

		#b-video__play-btn{
			margin-top: -8%;
			margin-left: -100px;
			width: 200px;
			padding: 1% 0;
			font-size: 24px;
			line-height: 50px;
		}

		#b-video__play-btn > i{
			font-size: 24px;
			line-height: 50px;
		}
    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 321px) {
        
    }