html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
	background: #bbb;
}

a{
	text-decoration: none;
}

.b-wrapper{
	max-width: 640px;
	margin: 0 auto;
	background: #ccc;
}

.b-video{
	position: relative;
}

#b-video__play-btn{
	position: absolute;
	top: 38%;
	left: 50%;
	margin-left: -90px;
	width: 280px;
	height: 60px;
	text-align: center;
	font-size: 30px;
	line-height: 60px;
	color: #fff;
	background: red;
	border-radius: 10px;
}

#b-video__play-btn > i{
	color: #fff;
	font-size: 30px;
}

#b-video__pause-btn{
	display: block;
	position: absolute;
	top: 55%;
	left: 50%;
	margin-left: -90px;
	width: 180px;
	height: 60px;
}

.b-video__views-amount{
	padding-left:20px;
}